.Welcome {
  font-size: 1.5rem;
}

.img-wrapper {
  text-align: center;
}

.img {
  width: 80%;
  height: auto;
}
/* .logo-navi,
.logo-react {
  height: 256px;
  position: absolute;
}
.logo-navi {
  animation: Index-logo-navi-spin infinite 20s linear;
  left: 212px;
}
.logo-react {
  animation: Index-logo-react-spin infinite 20s linear;
  left: -22px;
} 

@keyframes Index-logo-navi-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Index-logo-react-spin {
  from {
    transform: rotate(330deg);
  }
  to {
    transform: rotate(-30deg);
  }
} */
