.title {
  font-family: "Baloo Paaji 2", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 128%;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
}
.title > a {
  color: var(--primary-color-light);
  text-decoration: none;
}
